* {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', 'Roboto', sans-serif;
}

#container {
    background-color: mediumseagreen;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#headerContainer {
    border: solid;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

#headerContainer > div {
    border: white solid;
}

#mainTitle {
    height: fit-content;
    width: fit-content;
    font-size: 50px;
    margin: 10px;
}

#logContainer {
    display: flex;
    gap: 20px;
    font-size: 20px;
    justify-content: center;
}

.log {
   /*STYLE BUTTONS*/
}

#deleteAll {
    margin-left: 30px;
    background-color: red; /*TO MODIFY*/
    border-radius: 5px;
}

#deleteAll:hover {
    background-color: rgb(205, 3, 3); /*TO MODIFY*/
}

#logContainer > div {
    border: solid blue;
}

#formContainer {
    border: solid yellow;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#formContainer > div,form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#form {
    display: flex;
    flex-wrap: wrap;
    border: solid;
}

.formElement {
    margin: 1vw;
    border: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

label {
    margin-right: 20px;
}

input {
    width: 25vw;
    height: 2.5vh;
    border: 1px solid;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 1.6vh;
    font-family: "Lucida Console", "Courier New", monospace;
}

#authorInput {
}

#pagesInput {
    width: 5vw;
}

#readInput {
    width: fit-content;
    width: 20px;
    accent-color: black
}

#addInput {
    width: 5vh;
    height: 3vh;
    border: 1px solid black;
    color: black;
    background-color: white;
    font-weight: 600;
}

#addInput:hover {
 /*TO MODIFY*/
}

#booksContainer {
    border: purple solid;
    height: 100%;
    display: flex;
    justify-content: center;
}

#tableContainer {
    border: green solid;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
}

#tableContainer > div {
    border: solid;
    width: 100%;
}

#indexContainer {
    display: flex;
}

#indexContainer > div {
    flex: 1;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

#contentContainer {
    height: 95%;
}