* {
    margin: 0px;
    padding: 0px;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

#container {
    background-color: #64748b;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#headerContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-bottom: 1px solid;
}

#headerContainer > div {
}

#mainTitle {
    height: fit-content;
    width: fit-content;
    font-size: 50px;
    margin: 10px;
}

#logContainer {
    display: flex;
    gap: 20px;
    font-size: 20px;
    justify-content: center;
}

.log {
    margin: 5px;
}

#deleteAll {
    margin-left: 30px;
    border-radius: 5px;
    margin: 5px;
}

#deleteAll:hover {
    background-color: #5d6b7e; /*TO MODIFY*/
}

#logContainer > div {
    border-radius: 5px;
}

#formContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#formContainer > div,form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#form {
    display: flex;
    flex-wrap: wrap;
}

.formElement {
    margin: 0.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

label {
    margin-right: 20px;
    margin: 10px
}

input {
    width: 25vw;
    height: 2.5vh;
    border: 1px solid;
    border-radius: 7px;
    padding: 2px 10px;
    font-size: 1.6vh;
    font-family: "Lucida Console", "Courier New", monospace;
}

#authorInput {
}

#pagesInput {
    width: 5vw;
}

#readInput {
    width: fit-content;
    width: 20px;
    accent-color: black
}

#addInput {
    width: 5vh;
    height: 3vh;
    border: 1px solid black;
    color: black;
    background-color: white;
    font-weight: 600;
}

#addInput:hover {
 /*TO MODIFY*/
}

#booksContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: scroll;
}

#tableContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100vh;
    overflow: scroll;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

#tableContainer > div {
    width: 100%;
    overflow: scroll;
}

#indexContainer {
    display: flex;
    border: 1px solid;
}

#indexContainer > div {
    /*Modify the font-size with min-max!*/
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin: 3px;
    overflow: scroll;
}

#indexContainer > div:nth-child(1) {
    width: 40%;
}

#indexContainer > div:nth-child(2) {
    width: 40%;
}

#indexContainer > div:nth-child(3) {
    width: 8%;
}

#indexContainer > div:nth-child(4) {
    width: 8%;
}

#indexContainer > div:nth-child(5) {
    width: 4%;
}

#contentContainer {
    display: flex;
    height: 100%;
    width: 100vw;
    background-color: aliceblue;
    flex-direction: column;
    overflow: scroll;
    border: 1px solid;
}

#contentContainer > div {
    display: flex;
    height: 40px;
    width: 100%;
    border-top: 1px solid;
    margin-bottom: 10px;
}

#contentContainer > div > div {
    height: 40px;
    overflow: scroll;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 3px;
}

#contentContainer > div > div:nth-child(1) {
    width: 40%;
}

#contentContainer > div > div:nth-child(2) {
    width: 40%;
}

#contentContainer > div > div:nth-child(3) {
    width: 8%;
    text-align: center;
}

#contentContainer > div > div:nth-child(4) {
    width: 8%;
    text-align: center;
}

#contentContainer > div > div:nth-child(5) {
    width: 4%;
    text-align: center;
}

.removeButton {
    font-size: x-large;
    line-height: 23px;
}
